REMOTE_HOST = ''
SSH_USERNAME = ''

PEM_LOC = ''
HOME_DIRS = ''
SQLITE_AUTH_DB = ''
SQLITE_TABLE = ''

DATA_LINKS_CSV_FILEPATH = ''
DOC_LINKS_CSV_FILEPATH = ''

USER_HISTORICAL_DIR = ''

HTML_INDEX_TITLE = ""
HTML_INDEX_HEADER = ""